
<div *ngIf="restaurant">
    <h2><span jhiTranslate="circuitApp.restaurant.detail.title">Restaurant</span> {{restaurant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="circuitApp.restaurant.name">Name</span></dt>
        <dd>
            <span>{{restaurant.name}}</span>
        </dd>
        <dt><span jhiTranslate="circuitApp.restaurant.slug">Slug</span></dt>
        <dd>
            <span>{{restaurant.slug}}</span>
        </dd>
        <dt><span jhiTranslate="circuitApp.restaurant.lat">Lat</span></dt>
        <dd>
            <span>{{restaurant.lat}}</span>
        </dd>
        <dt><span jhiTranslate="circuitApp.restaurant.lng">Lng</span></dt>
        <dd>
            <span>{{restaurant.lng}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'restaurant/'+ restaurant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
