<div>
    <h2>
        <span jhiTranslate="circuitApp.restaurant.home.title">Restaurants</span>
        <button class="btn btn-primary float-right jh-create-entity create-restaurant" [routerLink]="['/', { outlets: { popup: ['restaurant-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="circuitApp.restaurant.home.createLabel">
            Create new Restaurant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="restaurants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="circuitApp.restaurant.name">Name</span></th>
            <th><span jhiTranslate="circuitApp.restaurant.slug">Slug</span></th>
            <th><span jhiTranslate="circuitApp.restaurant.lat">Lat</span></th>
            <th><span jhiTranslate="circuitApp.restaurant.lng">Lng</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let restaurant of restaurants ;trackBy: trackId">
                <td><a [routerLink]="['../restaurant', restaurant.id ]">{{restaurant.id}}</a></td>
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.slug}}</td>
                <td>{{restaurant.lat}}</td>
                <td>{{restaurant.lng}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../restaurant', restaurant.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'restaurant/'+ restaurant.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'restaurant/'+ restaurant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
