
<div *ngIf="customer">
    <h2><span jhiTranslate="circuitApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="circuitApp.customer.name">Name</span></dt>
        <dd>
            <span>{{customer.name}}</span>
        </dd>
        <dt><span jhiTranslate="circuitApp.customer.lat">Lat</span></dt>
        <dd>
            <span>{{customer.lat}}</span>
        </dd>
        <dt><span jhiTranslate="circuitApp.customer.lng">Lng</span></dt>
        <dd>
            <span>{{customer.lng}}</span>
        </dd>
        <dt><span jhiTranslate="circuitApp.customer.restaurant">Restaurant</span></dt>
        <dd>
            <span *ngFor="let restaurant of customer.restaurants; let last = last">
                <a [routerLink]="['/restaurant', restaurant?.id ]">{{restaurant.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
